
<div
class="slide"
*ngFor='let testimony of testimonies; let i = index' 
[@slideTrigger]='i==activeSlide? "active" : "inactive"'>
        <div class="testimony">
            <div class="testimony-content">
                <h2> {{testimony.testimony}} </h2> 
                <span class="name">{{testimony.name}}</span>
                <span class="role">{{testimony.role}}</span> 
            </div>
        </div>
        <div class="photo"> 
            <div class="img-container">
                <img class="main-photo" [src]="i==0 ?'assets/images/image-tanya.jpg' :'assets/images/image-john.jpg'" alt="{{testimony.name}}">
                <div class="slider-switch">
                    <div (click)='changeSlide("prev")' class="prev-img"><img src="assets/images/icon-prev.svg" alt="prev"></div>
                    <div (click)='changeSlide("next")' class="next-img"><img src="assets/images/icon-next.svg" alt="next"></div>
                </div>
            </div>
        </div>
</div>


<div class="slide" *ngIf='!testimonies'>
        <div class="testimony skeleton">
            <div class="testimony-content skeleton" style="padding: 0 30px; min-width: auto;">
                <ngx-skeleton-loader [count]="5" appearance="line"></ngx-skeleton-loader>
            </div>
        </div>
        <div class="photo"> 
            <div class="img-container skeleton">
                <ngx-skeleton-loader class="img-skeleton-desktop" [count]="1"  [theme]="{ 
                    'border-radius': '5px',
                    'height': '390px',
                    'width': '400px'
                  }"></ngx-skeleton-loader>

                  <ngx-skeleton-loader class="img-skeleton-mobile" [count]="1"  [theme]="{ 
                    'border-radius': '5px',
                    'height': '265px',
                    'width': '265px'
                  }"></ngx-skeleton-loader>
                
            </div>
        </div>
</div>